<!-- ejs to represent a re-usable loading screen window -->
<div id="errorWindow" class="window">

    <span>
        Error
    </span>

    <button id="dismissErrorWindow" class="windowHideButton" onclick="hideErrorWindow()">
        Cancel
    </button>

</div>
