<!-- reusable header for entire website, which uses generic CSS classes for easy styling
  -- This header will just contain a nice looking logo/emblem thingy, with a simple nav
  -- bar to move between the pages.

  -- PAGES INCLUDE:
  -- -- Profile page (or login page if not currently logged in) - TODO
  -- -- Project listing page - For viewing all of your 'projects' and 'shared projects'
  -- -- Actual application page
  -- -- Tutorial page, about us, and extra info page (???) - TODO
  -->

<!-- ------------------------------------------------------------------------------------ -->

<!-- Nav bar -->
<nav class="navbar navbar-default" role="navigation">

    <!-- use a simple div to 'contain' the nav bar elements -->
    <div class="container-fluid" id="generalHeader">

        <div class="navbar-header">
            <!-- The x of the nav bar will be a 'brand name' element, also serving as a hyperlink to the homepage? -->
            <a class="navbar-brand brandNameText" href="/main">
                Holistik
            </a>

            <!-- List of remaining nav bar elements -->
            <ul class="nav navbar-nav">
                <li>
                    <a href="/main">Application</a>
                </li>
                <li>
                    <!-- If the user is logged in, the 'username' field passed from the server will have their username there! -->
                    <% if (username !== undefined && username != null) { %>
                        <a href="/profile">Projects</a> <!--<a href="/profile">Profile</a>-->
                    <% } else { %>
                        <a class="disabledLink" title="Log in to use this feature!" disabled="true">Projects</a> <!-- HYPERLINK WITH NO HREF, TO SHOW AS GREYED OUT LINK -->
                    <% } %>
                </li>
                <li>
                    <!--<a href="/help" target="_blank">Help</a> --><!-- target = "_blank" makes it open in a new tab -->
                    <a href="#" onclick="window.open('/help', 'Help page - Holistik', 'width=1000,height=600')">Help</a>
                </li>
            </ul>

            <ul class="nav navbar-nav" id="user">
                <li>
                    <!-- If the user is logged in, the 'username' field passed from the server will have their username there! -->
                    <% if (username !== undefined && username != null) { %>
                        <name><%= username %></name>
                    <% } else { %>
                        <name>Guest User</name>
                    <% } %>
                </li>
                <li>
                    |
                </li>
                <li>
                    <!-- If the user is logged in, the 'username' field passed from the server will have their username there! -->
                    <% if (username !== undefined && username != null) { %>
                        <a href="/logout" title="sign-out to landing page">Sign out</a>
                    <% } else { %>
                        <a href="/" title="sign-out to landing page">Log in</a>
                    <% } %>
                </li>
            </ul>

        </div>

    </div>

</nav>