<!-- ejs to represent a re-usable loading screen window -->
<div id="loadingScreenWindow" class="window">

    <span>
        Loading your project...
    </span>

    <!-- loading icon -->
    <div class="spinningIcon" id="loader"></div>

    <button id="cancelLoading" class="windowHideButton" onclick="cancelCurrentLoadRequest()">
        Cancel
    </button>

</div>

