<!-- This will form the actual WINDOW where nodes and stuff can be added!
  -->

<!-- ------------------------------------------------------------------------------------ -->

<button onclick="createNewNode()">Create new node - UI Icon for testing</button>

<!-- use an 'absolute' positions div as the drawing canvas container. -->
<div id="drawingCanvas">

</div>