<!-- ejs to represent the window where the user can edit the title and text of a context node -->
<div class="white-content" id="popupEditWindow">

    <input id="editTitle" type="text" maxlength="30">
    <br>
    <input id="editDescription" type="text" maxlength="300">

    <button id="saveChanges" onclick="updateNodeData()">
        Save
    </button>

</div>

<div class="black-overlay" id="fade"></div>