<!-- ejs to represent the window where the user can edit the title and text of a context node -->
<div class="white-content" id="popupEditWindow">

    <input id="editTitle" name="titleText" type="text" maxlength="30">
    <br>
    <textarea id="editDescription" name="descriptionText" maxlength="300"></textarea>

    <button id="saveChanges" onclick="updateNodeData()">
        Save
    </button>
    <button id="cancelChanges" onclick="closeEditWindow()">
        Cancel
    </button>

</div>

<div class="black-overlay" id="fade"></div>