<!-- ejs to represent the window where the user can edit the title and text of a context node -->
<div class="white-content" id="popupEditWindow">

    <input class="nodeTitleText" type="text" maxlength="30">
    <br>
    <input class="nodeDescriptionText" type="text" maxlength="300">

</div>

<div class="black-overlay" id="fade"></div>