<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Landing Page - Holistik</title>
    <link rel="stylesheet" href="stylesheets/style.css">
</head>
<body>

<div class="container">
<h1>Holistik</h1>
<h2>Learn <em>better.</em></h2>
<h3>Coming soon</h3>
<h4><a href="/users">Pre-Alpha Testers</a></h4>
</div>

</body>
</html>