@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Noto+Serif:400,400i,700,700i');

.container {
    text-align: center;
    color: white;
}

body {
    background: linear-gradient(rgba(62, 87, 127, 0.4), rgba(204, 225, 234, 0.3)),url("../images/background.jpg");
    background-position: center;
    background-size: cover;
}

#signUpBox {
    position: fixed;
    width: 150px;
    margin-left: 84%;
    margin-top: -5%;
}

#signUpBtn {
    border-radius: 30px;
    color: white;
    font-size: 22px;
    height: 35px;
    font-weight: 300;
}


#loginBtn, #logoutbutton{
    background-color: rgb(223,204,123);
    width: 200px;
    border-radius: 30px;
    margin-bottom: 6px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 300;
}

#goToProfileButton {
    background-color: rgb(223,204,123);
    width: 400px;
    border-radius: 30px;
    margin-bottom: 6px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    margin-bottom: -15px;
    color: white;
}

h2 {
    margin-bottom: 5%;
}
h3 {
    font-size: 3em;
}
.signInSection {
    text-align: center;
}


#guest {
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 0.9em;
    color: grey;
}

#signUpBtn:hover {
    background-color: rgb(90,159,231);
    color: white;
    text-decoration: none;
    border-color: rgb(90,159,231);
}

#loginBtn:hover {
    background-color: rgb(90,159,231);
    color: white;
    text-decoration: none;
    border-color: rgb(90,159,231);
}

img {
    max-width:100%;
    max-height:100%;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

