@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Noto+Serif:400,400i,700,700i');

.container {
    text-align: center;
    color: white;
}


#signUpBox {
    position: fixed;
    width: 150px;
    margin-left: 84%;
    margin-top: -5%;
}

#signUpBtn {
    background-color: white;
    border-radius: 30px;
}

#loginBtn {
    background-color: rgb(223,204,123);
    margin-left: 40%;
    margin-right: 40%;
    border-radius: 10px;
    margin-bottom: 6px;
}

h1 {
    margin-bottom: 15px;
}

h2 {
    margin-bottom: 4%;
}

.signInSection {
    text-align: center;
}

.input {
    display: block;
    align-content: center;
    margin: auto;
    font-family: "Open Sans";
    font-weight: 300;
    height: 43px;
    width: 319px;
    margin-bottom: 20px;
}
}

::placeholder {
    font-size: 10px;
    font-family: "Noto Serif";
    font-weight: 400;
    font-style: italic;
    font-size: 500px;
}


#guest {
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 0.9em;
    color: whitesmoke;
}

a:hover {

}