body {
    background-position: center;
    background-size: cover;
    margin:0;
}

/* lets use a css grid to contain the various components of the mind map page! */
.wrapper {
    position: relative;
    display: grid;
    grid-template-columns: 200px 5fr;
    grid-auto-rows: minmax(500px, 650px);
    grid-gap: 10px;
}

/* control the visibility of the popup edit window */
#popupWindow {
    visibility: hidden;
}

#popupWindow, fieldset {
    height: 92%;
}

#editTitle {
    display: block;
    width: 100%;
}

#editDescription {
    display: block;
    width: 100%;
    height: 300px;
}

#saveChanges {

}

#cancelChanges {

}

#closeHelpWindowButton, .windowHideButton {
    position: absolute;
    bottom: 20px;
}

/* controls the fade effect when a popup appears */
.black-overlay {
    display: none;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 9000; /* seems to be around 9000 */
    opacity: 0;

    transition: opacity 0.25s;
}

/* popup window  */
.white-content {
    display: none;
    position: absolute;
    top: 15% !important;
    bottom: 15% !important;
    left: 15%;
    width: 70%;
    height: 70%;
    padding: 16px;
    background-color: white;
    z-index: 9001; /* ITS OVER 9000!!!!!!!!!!!!!!!!!!!!!!!! */
    overflow: auto;

    transition: opacity 0.25s;
}

.window {
    display: none;
    position: absolute;

    top: 30% !important;
    bottom: 30% !important;
    left: 30%;
    width: 40%;
    height: 40%;
    padding: 16px;

    background: #f3f3f3;
    border: 5px solid black;

    overflow: hidden;
    word-break: keep-all;

    z-index: 9001;
}

.window span {
    display: inline-block;
    position: absolute;
    margin: auto;   /* center it horizontally */
}

/* Styling and animation for the loading icon */
.spinningIcon {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 60px;
    height: 60px;
    margin: -30px 0 0 -30px;    /* Centres it */
    border: 16px solid #939393;
    border-radius: 50%;
    border-top: 16px solid #34a0e4;
    -webkit-animation: spin 1.25s linear infinite;
    animation: spin 1.25s linear infinite;
}

#loader {
    border: 16px solid #939393;
    border-top: 16px solid #34a0e4;
}

#savingIcon {
    position: static;
    float: right;
    width: 9px;
    height: 9px;
    margin: 2px 0 0 -5px;    /* Centres it */
    border: 2px solid #939393;
    border-radius: 50%;
    border-top: 2px solid #424244;
    -webkit-animation: spin 0.75s linear infinite;
    animation: spin 0.75s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#savingIndicator {
    position: absolute;
    z-index: 9999999999999999;
    /*float:right;
    margin-top: 6px;
    margin-right: 24px;*/
    right: 24px;
    top: 6px;
    background: transparent;
    font-family: 'Open Sans', sans;
    font-size: small;
    width: 70px;
    height: 40px;

    opacity: 0.0;   /* Will be controlled via JS */
}