/* lets use a css grid to contain the various components of the mind map page! */
.wrapper {
    position: relative;
    display: grid;
    grid-template-columns: 200px 5fr;
    grid-auto-rows: minmax(500px, 650px);
}