@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Noto+Serif:400,400i,700,700i');

body {
    margin: 0;
}

html, body {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
}
.content {
    flex: 1 0 auto;
}
footer {
    flex-shrink: 0;
}

.wrapper {
    position: relative;
    display: grid;
    position: relative;
    padding: 0;
    background-color: rgb(237,237,237);
    width: 99.5%;
    height: 100%;
}

#contentHolder {
    margin: 0 12% 0 12%;
}

.searchBox {
    position: fixed;
    top: 84px;
    right: 12%;
    border: 1px solid rgb(223,220,217);
}

#searchIconBox {
    display: inline-block;
    width: 16px;
    height: 16px;
    right: 3px;
}

i {
    font-size: 16px;
}

input[name="searchNotebook"] {
    width: 250px;
    height: 32px;

}

#headerText {
    font-size: 35px;
}

.projectsTabPanel p {
    text-decoration: none;
    color: black;
    font-family: "Open Sans";
    font-size: 18px;
}

.projectsTabs {
    display: inline-block;
}

.projectsTab {
    margin-right: 40px;
    margin-top: 0;
    margin-bottom: 8px;
}

#projectsTabPanel {
    /* height: 47px; */
    display: block;
}

.divisionLine {
    margin-top: 1px;
    display: block;
    border-top: 2px solid black;
}

.projectNameText{
    font-family: "Open Sans";
    font-weight: 400;
}

.btn {
    text-align: center;
    display: block;
    font-family: "Open Sans";
    font-weight: 400;
    border: 1px solid;
    border-radius: 30px;
    width: 230px;
    cursor: pointer;    /* Make buttons have 'you can click me' cursor when you're hovering over them */
}

.deleteProjectBtn {
    color: red;
}

/* Apply styling to buttons which are in the project preview box list */
.projectPreviewBox .btn {
    float: right;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    width: 100px;
}

.projectPreviewBox {
    margin-bottom: 25px;
}

.input {
    display: block;
    align-content: center;
    margin: auto;
    font-family: "Noto Serif";
    font-weight: 400;
    font-size: 22px;
    height: 43px;
    width: 319px;
    margin-bottom: 20px;
    right: 15px;
}

::placeholder {
    font-size: 10px;
    font-family: "Noto Serif";
    font-weight: 400;
    font-size: 22px;
    padding-left: 10px;
}

a {
    text-decoration: none;
    text-align: center;
    color: black;
}

a:hover {
    background-color: rgb(90,159,231);
    color: white;
    text-decoration: underline;
    border-color: rgb(90,159,231);
}

.layer {
    display: none;  /* hidden until button is pressed */
    position: absolute;
    top: 73px;
    width: 100%;
}

#createContent, #editContent {
    position: relative;
    width: 30%;
    height: 69px;
    background-color: #ad9d7f;
    margin: auto;
    margin-top: 20%;
}

.newProjectBtnBox {
    float: right;
}

#create .btn, #edit .btn {
    margin-top: 16px;
    margin-left: auto;
    margin-right: auto;
    width: 79px;
}

#create, #edit {
    display: none;
}


#aCross {
    position: absolute;
    color: black;
    font-family: "Open Sans";
    font-weight: 300;
    margin-left: 38%;
    margin-top: -66px;
    border: 0.5px solid;
    border-radius: 50%;
    width: 22px;
}

#aCross:hover {
    border-color: white;
    background-color:  #ad9d7f;
    text-decoration: none;
    color:white;
}

#newProject, #editProject {
    font-family: "Noto Serif";
    font-weight: 400;
    font-size: 18px;
    margin-top: -16px;
    color: black;
}

.clearfix {
    clear: both;
    font-size: 1px;
}