@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Noto+Serif:400,400i,700,700i');

#sidebar {
    overflow: scroll;
    background-color: rgb(237,237,237);
    margin: 1px;
}

#sidebar h4 {
    padding-left: 35px;
    padding-top: 10px;
}

#sidebar ul {
    list-style-type: none;
}

/* Stop entries from wrapping */
#sidebar li {
    text-wrap: none;
    word-break: keep-all;
    white-space: nowrap;
}

#listContainer {
    box-sizing: border-box;

    height: fit-content;
    width:  100%;
    font-family: 'Open Sans', sans;
    font-weight: 300;
    font-size: 0.9em;

}

.sidebar-element {
    font-family: 'Open Sans', sans;
    font-weight: 300;
    font-size: 0.9em;
}

/* Dynamic colour styling for list entries which are referring to visible, or invisible, or context, nodes. */
.visibleListElem {
    font-weight: bold;
    color: rgb(24,80,173);
}
.invisibleListElem {
    color: rgb(96,98,109);
}
.contextListElem {
    font-weight: bold;
    color: #f10000; /* rgb(170,70,52); (the context node should be bright and noticable */
}

/* Additional sidebar container styling, which is used if the context is global */
.listContainer {
    border-color: transparent;
}
.globalcontext_sidebarStyling {
    border-color: #3c3c3c;  !important;
}