@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');

html {
  height: 100%;
}

/* Lets make the 'drawing canvas' some big block which is relatively positioned. */
#drawingCanvas {
    position: relative;
    height : 500px;
    width  : 500px;
    background-color: bisque;
}

/* Lets make any 'node' element be absolutely positioned on top of it's parent */
/* This is so that it can be positioned anywhere on the parent                 */
.node {
    position : absolute;
}

/* Let's implement a default colouring and shit for content nodes, for testing purposes */
.contentNode {
    color : cornsilk;   /* test colour for the nodes name at this time */
}



/* FONTS AND SHIT */

.brandNameText {
    font-family: "Open Sans", cursive;
    font-weight: 300;
    font-size: 1em;
}
.container {
  padding: 100px 0;
  text-align: center;
  color: white;
}

h1 {
  font-family: "Open Sans", cursive;
  font-weight: 400;
  font-size: 4em;

}

h2 {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}

h3 {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.5em;
}

h4, .navbar-nav {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}

