/* define the CSS grid structure we will use by default (given that the window is wide enough!!) */
.gridWrapper {
    display: grid;
    grid-template-areas: "header header header"
                         "leftControls main rightControls"
                         "leftControls footer rightControls";
    grid-template-columns: 75px 1fr 75px;         /* The margins will stick to being 75 pixels, and the main document will fill the rest */
    grid-template-rows: 74px   /* hard coded header size */
    1fr                         /* The actual content will just take up as much vertical space as it needs.. */
    82px;                       /* hard coded footer size */


    min-height: 100vh;          /* Ensures that the TOTAL vertical height of the document is AT LEAST the size of the window.
                                   (I.e. will extend the main section if necessary. This makes the footer stay at the bottom
                                   of the page even if the main document is too short. The length can still grow beyond this if required though.
                                 */
}

.gridHeader {
    grid-area: header;
}
.gridFooter {
    grid-area: footer;
}
.document {
    grid-area: main;

    /* Set the left and right padding to 65 pixels */
    padding-left: 60px;
    padding-right: 60px;
}
.leftMarginColumn {
    grid-area: leftControls;

    /* Set the background colour to match the drawing canvas background colour, to match stylistically */
    background-color: rgb(237, 237, 237);
}
.rightMarginColumn {
    grid-area: rightControls;

    /* Set the background colour to match the drawing canvas background colour, to match stylistically */
    background-color: rgb(237, 237, 237);
}


/* If the screen is less than 720 pixels wide, make it just go in one column with no margin columns */
@media screen and (max-width: 720px) {
    .gridWrapper {
        grid-template-areas: "header"
                             "leftControls"
                             "main"
                             "rightControls"
                             "footer";
        grid-template-columns: 100%;
        grid-template-rows: 84px
        50px
        1fr
        50px
        82px;
    }
}