<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Help page - Holistik</title>
    <link rel="stylesheet" href="/stylesheets/headerStyling.css">
    <link rel="stylesheet" href="/stylesheets/sidebarStyling.css">
    <link rel="stylesheet" href="/stylesheets/canvasStyling.css">
    <link rel="stylesheet" href="/stylesheets/footerStyling.css">
    <link rel="stylesheet" href="/stylesheets/helpPageStyling.css">
    <meta name="viewport" content="width=device-width", initial-scale="1">
</head>
<body>

    <!-- ejs to represent the popup window where the user can inspect the help page -->
    <div class="white-content carousel slide" id="popupHelpWindow" data-ride="carousel">

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div id="img1" class="item active">
                <img src="/images/Slide1.PNG" alt="tutorial image to show canvas">
            </div>
            <div id="img2" class="item">
                <img src="/images/Slide2.PNG" alt="tutorial image to show sidebar">
            </div>
            <div id="img3" class="item">
                <img src="/images/Slide3.PNG" alt="Creating nodes tutorial image">
            </div>
            <div id="img4" class="item">
                <img src="/images/Slide4.PNG" alt="Connecting nodes tutorial image">
            </div>
            <div id="img5" class="item">
                <img src="/images/Slide5.PNG" alt="Example structure tutorial image">
            </div>
            <div id="img6" class="item">
                <img src="/images/Slide6.PNG" alt="Additional help tutorial image">
            </div>
        </div>
    </div>

    <!-- FOOTER. Will render at the bottom of every page on the website, ideally! -->
    <footer>
        <% include ../partials/footer.ejs %>
    </footer>

</body>
</html>


