<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Landing Page - Holistik</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/landingPageStyling.css">
</head>
<body>

    <div class="container" id="signUpBox">
        <a class="btn" id="signUpBtn" href="/signup">Sign Up</a>
    </div>

    <div class="container">

        <h1>Holistik</h1>
        <h2>Learn <em>better.</em></h2>

        <div class="logInSection">
            <input class="input" type="text" placeholder="Username">
            <input class="input" type="text" placeholder="Password">

            <a id="loginBtn" class="btn" href="/main">Log In</a>
        </div>

        <a id="guest">Continue as guest</a>


        <!-- <a id="getStarted" href = '/login'>Get started</a> -->

    </div>

</body>
</html>