<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Landing Page - Holistik</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/landingPageStyling.css">
</head>
<body>

<div class="wrapper">
    <div class="container" id="leftColumn">
        <h1>Holistik</h1>
        <h2>Learn <em>better.</em></h2>
    </div>

    <div class="container" id="rightColumn">
        <div id="signInBox">
            <p>Sign in with existing account</p>
            <input title="Sign-in username" type="text" placeholder="Username"><br>
            <input title="Sign-in password" type="text" placeholder="Password">
            <div class="btn" id="SigninButton"
        </div>

        <p>Or</p>

        <div id="signUpBox">
            <p>New to Holistik? Creat a new account!</p>
            <input title="Sign-in username" type="text" placeholder="Username"><br>
            <input title="Sign-in password" type="text" placeholder="Password">
        </div>

        <h4><a href = '/main'>Sign in!</a></h4>
    </div>
</div>



</body>
</html>