<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Landing Page - Holistik</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/landingPageStyling.css">
</head>
<body>

    <div class="container">
        <h1>Holistik</h1>
        <h2>Learn <em>better.</em></h2>

        <a id="getStarted" href = '/login'>Get started</a>

    </div>

</body>
</html>