<!-- This entire application is likely to be single-screen: This page will form that! -->
<!-- To avoid preposterous amounts of code inside of one file, we will use EJS 'partials' to separate the
  -- page information into multiple files.
  -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Holisitk - Dynamic Mind Mapping and Organisation</title>
    <link rel="stylesheet" href="/stylesheets/canvasStyling.css">
    <link rel="stylesheet" href="/stylesheets/headerStyling.css">
    <link rel="stylesheet" href="/stylesheets/footerStyling.css">

    <!-- Get the interact.js library into the front end scope -->
    <script src="https://cdn.jsdelivr.net/npm/interactjs@1.3.3/dist/interact.min.js"></script>

    <!-- My custom behaviour scripts -->
    <script src="/javascripts/canvasController.js"></script> <!-- controller logic for tracking nodes on the canvas -->
    <script src="/javascripts/interactjsFunctionality.js"></script> <!-- integration logic with interact.js library for node behaviour, and funciton callbacks -->
</head>

<!-- -------------------------------------------------------------- -->

<body>

    <!-- HEADER. Will render at the y of every page, and server as a nav bar for the main site pages -->
    <header>
        <% include ../partials/header.ejs %>
    </header>

    <!-- MAIN CONTENT -->
    <main>

        <h2>ITS TIME TO TEST </h2>
        <p>TEST TEST TEST TEST TEST</p>

        <!-- include the 'canvas' partial, which forms the main functionality of the application -->
        <% include ../partials/nodeCanvas.ejs %>








    </main>

    <!-- FOOTER. Will render at the bottom of every page on the website, ideally! -->
    <footer>
        <% include ../partials/footer.ejs %>
    </footer>

</body>

</html>