<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up Page - Holistik</title>
    <link rel="stylesheet" href="/stylesheets/signupPage.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>

<div class="container">
    <div class="logInTitle">Welcome!</div>
    <div class="newUser">New to Holistk? Sign Up</div>


    <form action="/register" method="post" class="registerSection" enctype="application/x-www-form-urlencoded">
        <input class="input" type="text" name="username" placeholder="Username">
        <input class="input" type="text" name="email" placeholder="Email">
        <input class="input" type="text" name="password" placeholder="Password">

        <input class="btn" id="loginBtn" type="submit" value="Submit!">
    </form>
</div>

</body>
</html>

