<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up Page - Holistik</title>
    <link rel="stylesheet" href="/stylesheets/signupPage.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>

<div class="container">
    <div class="logInTitle">Welcome!</div>
    <div class="newUser">New to Holistk? Sign Up</div>

    <form method="POST">
        <input class="input" type="text" id="username" placeholder="Username">
        <input class="input" type="text" id="email" placeholder="Email">
        <input class="input" type="text" id="password" placeholder="Password">

        <a class="btn" id="loginBtn" href="/main">Create</a>
    </form>
</div>

</body>
</html>

