<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up Page - Holistik</title>
    <link rel="stylesheet" href="/stylesheets/signupPage.css">
</head>
<body>

<div class="container">
    <div class="logInTitle">Welcome!</div>
    <div class="newUser">
        New to Holistk?
        <a class="signupLink" href="#">Sign Up</a> <!-- need javescript here to switch to sign up window -->
    </div>

    <div class="signInSection">
        <input class="input" type="text" placeholder="Username">
        <input class="input" type="text" placeholder="Password">

        <a class="btn" id="loginBtn" href="/main">Create</a>
    </div>
</div>

</body>
</html>

