<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Page</title>

    <link rel="stylesheet" href="/stylesheets/profileStyling.css">
    <link rel="stylesheet" href="/stylesheets/headerStyling.css">
    <link rel="stylesheet" href="/stylesheets/footerStyling.css">
    <link rel="stylesheet" href="/stylesheets/userPageStyling.css">
    <script src="/javascripts/userProfilePageController.js"></script>
</head>

<body>
    <header>
        <% include ../partials/header.ejs %>
    </header>

    <div class="wrapper">
        <div class="container-fluid" id="contentHolder">
            <h1 id="settings">Settings</h1>

            <div class="divisionLine"></div>

            <ul id="settingsList">
                <li class="settingsListItem">
                    <div class="userSetting">
                        Username: <%= username %>
                    </div>
                </li>
                <li class="settingsListItem">
                    <div class="userSetting">
                        Email: <%= email %>
                        <div class="btn editSettingsBtn" onclick="showMeTheEditEmailWindow()">Edit</div>
                    </div>
                </li>
                <li class="settingsListItem">
                    <div class="userSetting">
                        Bio: <%= bio %>
                        <div class="btn editSettingsBtn" onclick="showMeTheEditWindow()">Edit</div>
                    </div>
                </li>
                <li class="settingsListItem">
                    <div class="userSetting">
                        Password:
                        <div class="btn editSettingsBtn" onclick="showMeTheEditWindow()">Edit</div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="layer" id="editEmail">
        <div class="container" id="editContent">
            <a id="aCross" onclick="unseeTheEditEmailWindow()">X</a>
            <p id="editProject">Edit Email</p>
            <form method="post" action="/editUserEmail" enctype="application/x-www-form-urlencoded">
                <input type="text" name="newEmail">
                <input type="hidden" id="username" name="username" value=<%= username %>>
                <input class="btn" type="submit" value="Submit">
            </form>
        </div>
    </div>

    <footer>
        <% include ../partials/footer.ejs %>
    </footer>
</body>